* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --gray-light1: #faf9f9;
  --gray-light2: #f4f2f2;
  --gray-light3: #f0eeee;
  --gray-light4: #ccc;

  --gray-dark1: #333;
  --gray-dark2: #777;
  --gray-dark3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray-dark2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;

  min-height: 100vh;
}